<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--All of this info can be found on the XMPP/Jabber info section @ https://YOUR-SUBDOMAIN.hipchat.com/account/xmpp-->
    <add key="Server" value="chat.hipchat.com"/>
    <add key="ConferenceServer" value="conf.hipchat.com" />
    <!--Username i.e. 1234_56789-->
    <add key="User" value="114716_1167039"/>
    <!--Password, this is not displayed on page-->
    <add key="Password" value="bottheeva"/>
    <!--Necessary to avoid bot reciving room history-->
    <add key="Resource" value="bot"/>
    <!--Room nickname-->
    <add key="RoomNick" value="Lucy Bot"/>
    <!--Comma separated list of rooms for your bot to join i.e. 1234_builds, 1234_development-->
    <add key="Rooms" value="114716_tavisca"/>
    
  </appSettings>
</configuration>